### Rust
*.pdb
**/*.rs.bk
Cargo.lock

debug/
target/

### IDE config
.vscode/
.idea/

*.sublime-*

### Project
.env
.venv
__pycache__
quant.toml

*.db
database/
migrations/

### Build and Run
core.*
nohup.out
