### Rust
*.pdb
**/*.rs.bk
Cargo.lock

debug/
target/

### IDE config
.vscode/
.idea/

*.sublime-*

### Project
.venv
__pycache__
poetry.lock
quant.toml

crates/binan_spot_examples

### Build and Run
core.*
nohup.out

### Documentations
*.excalidraw
