name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master, fix-**, feat-**]
  workflow_run:
    workflows: ["Lint"]

jobs:
  build-rs:
    needs: check-rs
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: quant_trader
          POSTGRES_PORT: 5432
          POSTGRES_HOST: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3

      - name: Setup Rust
        run: rustup install 1.65

      - name: Install diesel
        run: cargo install diesel_cli

      - name: Build
        run: |
          DATABASE_URL=$DATABASE_URL diesel database reset
          cargo build --release --verbose --jobs 1
        env:
          DATABASE_URL: "postgres://postgres:postgres@postgres:5432/quant_trader"
